* {
    font-family: 'Lato', sans-serif;
}
.wrapper{
    background: white;
    padding: 0 20px 0 20px;
    padding-top: 20px;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}
.row {
    width: 900px;
    height: 550px;
    border-radius: 10px;
    background: white;
    box-shadow: rgba(100, 100, 100, 0.25) 5px 5px 10px 0px;
}
.image {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/d/df/Pile_of_books.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(80%);
    position: relative;
    border-radius: 10px 0 0 10px;
}
.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text p{
    font-size: 20px;
    color: white;
}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.input {
    width: 330px;
    box-sizing: border-box;
    h2 {
        animation: fadeIn 500ms;
    }
    p {
        padding-bottom: 40px;
        animation: fadeIn 750ms;
    }
    div {
        animation: fadeIn 1000ms;
    }
}
.submit {
    button {
        border: none;
        outline: none;
        height: 40px;
        padding: 0 auto 0 auto;
    }
}
.other {
    padding: 10px 0 10px 0;
    button {
        border: none;
        outline: none;

        font-size: 15px;
        text-decoration: underline;
        color: darkslategrey;
        background-color: white;
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}