.container{
    margin: auto;
    justify-content: center;
}
.row {
    padding: 0 25px 0 25px;
    justify-content: center;
}
.col {
    flex: 0 0 0;
    padding-bottom: 10px;
}
.card {
    height: 400px !important;
    width: 200px !important;
    img {
        height: 275px;
        width: 100%;
        object-fit: cover;
    }
}
.card:hover {
    border: solid orangered;
}
.card-body {
    overflow: hidden;
}
.card-title {
    text-decoration: underline;
    color: black;
}
.card-text {
    text-decoration: none;
    color: grey;
}