.results {
    width: 800px;
    margin: auto;
    background-color: whitesmoke;
}
.row {
    width: 800px;
}
.col {
    height: 385px;
    width: 200px;
    flex: 0 0 0;
    flex-basis: 0;
}
.box-part{
    height: 385px;
    width: 200px;
    background:#FFF;
    border-radius:0;
    padding-top: 10px;
    text-align: center;

    border-style: solid;
    border-width: thin;
    border-color: lightgray;
}
.box-part:hover{
    border-style: solid;
    border-width: medium;
    border-color: orangered;
}
.text-box{
    margin: auto;
    width: 180px;
    max-height: 120px;
    overflow: hidden;
}
.title{
    padding-top: 5px;
    overflow-wrap: break-word;
}
.author{
    overflow-wrap: break-word;
}
img {
    height: 200px;
    width: 150px;
    object-fit: cover;
}