<!-- goal here is to try and create a visualization of the wireframe -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <title>CSCI 3308 Lab 9</title>
    <!-- TO-DO: Add the <link> tag to include bootstrap stylesheet -->
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
    crossorigin="anonymous"
    />
    <!-- just going to copy paste all of this from lab 8, the work is the same -->
    </head>
    <body>
        <!-- going to create a container, and start using the work from there  -->
        <div class = "container"> 
        <!-- looking at the wireframe, going to have a card with book image and title -->
            <div class = "card-group">
                <div class = "card">
                    <!-- going to leave .css stuff untouched for now,this is me attempting to visualize things.  -->
                    <img class = "card-image-top" src = "..." alt = "book cover">
                    <div class = "card-body">
                        <h1 class = "card-title">Harry Potter and the Sorcerer's stone</h1>
                    </div>
                    <!-- going to make a note of this here, 
                    things to make sure we get from api 
                        - Book image url (should be stored in there)
                        - Book title (should also be stored in there)
                        something up for debate is if we will need to call this into the database or not. 
                    -->

                </div>
                <div class = "Card">
                    <!-- this is where we put everything in the second column down -->
                    <div class = "col ">
                        <div class = "row sm-3">
                            <h3> Book Genres</h3>
                        <p> genre1 </p>
                        </div>
                        <!-- above is the book genres, I think they'll have to be echoed out-->
                        <div class = "row sm-3">
                        <h3>Description</h3>
                        <p>book description</p>
                        </div>
                        
                        <!-- book descriptions go here  -->
                        <div class = "row sm-3">
                            <!-- this is where the book tags are supposed to go, I think there might be some issues  -->
                            <h3>User Tags </h3>
                            <p> Kids, Fantasy, Adventure, Magic,  </p>
                            <!-- questions to sort out: 
                                - what format are we going with for the tags? (Table, dynamic thingies, etc?)
                                - should we count the amount of times users have assigned the tags?
                                - is there an upper limit to the amount of tags we would want to show? 
                                -database wise,  trying to think of if there is anything else to do with the tags                                - 
                             -->
                        </div>
                    </div>

                </div>
                <div class = "card">
                    <!-- this card section is intended to show books from the same author, debating how we want to order this,  -->
                    <h1> Also by this author</h1>
                    <!-- think we would use ejs to write out a for loop showing work from this author,  -->
                    <div class = "col sm">
                        <div class = "row sm">
                            <img>
                            <P> Title 1 </P>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </body>
</html>
