<!DOCTYPE html>
<html lang="en">

<header>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Google Books Search</title>
  <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
        crossorigin="anonymous"
    />
  <link rel="stylesheet" href="./css/search.css" type="text/css">
  <link rel="stylesheet" href="./css/bookpage.css" type="text/css">
  <link rel="stylesheet" href="./css/nav.css" type="text/css">
  <script src="./js/script.js"> </script>
</header>
<%- include ('../partials/menu') %>

<body>
    <main>
        <div class="wrapper">
            <div class="container main">
                <div class="box">
                    <div class="left">
                        <div class="content"></div>
                    </div>

                    <div class="center">
                        <div class="content"></div>
                    </div>

                    <div class="right">
                        <div class="content"></div>
                    </div>
                </div>
            </div>
        </div>

        <h4 style="text-align: center; padding: 10px 0 10px 0;">OTHER BOOKS BY AUTHOR</h4>
        <div class="results" style="width: 1000px !important;">
            <div class="row" style="width: 1000px !important;">    
      
              <div class="col">                 
                <div class="box-part">             
                  <img src="https://static.vecteezy.com/system/resources/previews/004/141/669/non_2x/no-photo-or-blank-image-icon-loading-images-or-missing-image-mark-image-not-available-or-image-coming-soon-sign-simple-nature-silhouette-in-frame-isolated-illustration-vector.jpg" alt="Cover"></i>
                  
                  <div class="text-box">
                    <div class="title">
                      <h4>VERY LOOOOOOOOOOOOOOOOONG Titleeeeeeeeeeeeeeeeeeeeeee asdfasdfasdfn asdfasdf asdf asdf asdf</h4>
                    </div>
                  </div>
                  <div class="author">
                    <p>Author</p>
                  </div>
                </div>    
              </div>
              <div class="col">                 
                <div class="box-part">             
                  <img src="https://static.vecteezy.com/system/resources/previews/004/141/669/non_2x/no-photo-or-blank-image-icon-loading-images-or-missing-image-mark-image-not-available-or-image-coming-soon-sign-simple-nature-silhouette-in-frame-isolated-illustration-vector.jpg" alt="Cover"></i>
                  
                  <div class="text-box">
                    <div class="title">
                      <h4>Title</h4>
                    </div>
                  </div>
                  <div class="author">
                    <p>Next Author</p>
                  </div>
                </div>    
              </div>
              <div class="col">                 
                <div class="box-part">             
                  <img src="https://static.vecteezy.com/system/resources/previews/004/141/669/non_2x/no-photo-or-blank-image-icon-loading-images-or-missing-image-mark-image-not-available-or-image-coming-soon-sign-simple-nature-silhouette-in-frame-isolated-illustration-vector.jpg" alt="Cover"></i>
                  
                  <div class="title">
                    <h4>Title</h4>
                  </div>
                </div>    
              </div> 
            </div>
          </div>
    </main>
</body>

</html>
