<!-- goal here is to combine with footer and header to get a WIP snapshot, and figure out the specific methedology in question -->
<%- include ('../partials/head') %> 
<%- include ('../partials/menu ') %> 
<main>

    
</main>

<%- include ('../partials/footer') %> 